AzurePetMedicine.Hospital.Domain/obj/
AzurePetMedicine.Hospital.Domain/bin/
AzurePetMedicine.Pet.Domain/obj/
AzurePetMedicine.Pet.Domain/bin/
AzurePetMedicine.Rescue.Domain/obj/
AzurePetMedicine.Rescue.Domain/bin/
*.db-wal
*.db
*.db-shm
AzurePetMedicine.Common/obj/
AzurePetMedicine.Common/bin/
AzurePetMedicine.Pet.Api/.vs/
AzurePetMedicine.Pet.Api/bin/
AzurePetMedicine.Pet.Api/obj/
.vs/
